/* helps you with specifing width,height so it is correct and not shrinking */
* {
  box-sizing: border-box;
}

*:focus {
  /* remove ufly outlines */
  outline: none;
}

/* start with variables */
:root {
  --fb-blue: #0a86f0;
  --fb-black: #090900;
  --fb-red: crimson;
  --fb-green: green;
  --fb-yellow: gold;
  --fb-white: #ffffff;
  --fb-bgcolor: #f0f2f5;
  --button-link: #e0e2e8;
  --fb-grey: #e4e6eb;
  --dark-color-text: #090909;
  --light-color-text: #606770;
  --stories-bg: #090909;
  --hover-overlay: rgba(0, 0, 0, 0.05);
}

body {
  background: var(--fb-bgcolor);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fb-black);
  /* height: 5000px; */
}

header {
  background: var(--fb-white);
  height: 56px;
  width: 100%;
  padding: 0 15px;
  /* grid */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* ------------------------- */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

.header__logo-section {
  display: flex;
}

/* responsive header */
.header__mobile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  margin-right: 20px;
}

.header__logo-icon .fa-facebook {
  font-size: 40px;
  color: var(--fb-blue);
}

.header__logo-search {
  /* have control to what is inside */
  position: relative;
  margin-left: 10px;
}

.header__logo-search .fa-search {
  position: absolute;
  left: 16px;
  top: 10px;
  color: var(--light-color-text);
}

.header__logo-search input {
  background: var(--fb-bgcolor);
  width: 252px;
  padding: 10px;
  border-radius: 25px;
  font-size: 1rem;
  color: var(--light-color-text);
  padding-left: 45px;
  font-weight: 300;
  border: none;
}

.header__nav-section {
  display: flex;
  max-width: 600px;
  width: 100%;
  /* not shrink and not go */
  flex: none;
}

.header__nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 56px;
  border-bottom: 4px solid var(--fb-bgcolor);
  color: var(--light-color-text);
  cursor: pointer;
  font-size: 1.2rem;
}

.tab-active,
.header__nav-tab:hover {
  border-bottom: 4px solid var(--fb-blue);
  color: var(--fb-blue);
}

.header__nav-tab:hover {
  background-color: var(--fb-bgcolor);
}

.header__nav-tab .fas,
.header__nav-tab .fab {
  position: relative;
}

.header__notification-buble {
  background: var(--fb-red);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 20px;
  height: 20px;
  /* 50% makes it a perfect cirlce */
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14px;
  right: -10px;
}

.header__account-section {
  display: flex;
}
.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user-img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.header__username {
  font-size: 0.9rem;
  margin-right: 20px;
  font-weight: 600;
}

.header__circle-link {
  background: var(--button-link);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color-text1);
  /* remove link decoration */
  text-decoration: none;
  margin-right: 10px;
}

.header__circle-link .fa-sort-down {
  position: relative;
  top: -3px;
  font-size: 1.4rem;
}

.header__link-icon {
  font-size: 0.9rem;
  position: relative;
}

.header__link-icon .fas,
.header__link-icon .fab {
  position: relative;
}

.account-notification {
  background: var(--fb-red);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 20px;
  height: 20px;
  /* 50% makes it a perfect cirlce */
  border-radius: 50%;
  position: absolute;
  top: -18px;
  right: -18px;
  font-weight: 700;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-area-feed {
  padding: 90px 15px 20px;
  display: flex;
}

.sidenav__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidenav__item-img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 20px;
}

.sidenav__item-title {
  font-size: 1rem;
  font-weight: 500;
}

.sidenav__item-icon {
  margin-right: 20px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.sidenav__item-notfication {
  color: var(--fb-blue);
  margin-top: 5px;
  font-size: 0.75rem;
  display: block;
  font-weight: 500;
}

.sidenav__item-icon .fas,
.sidenav__item-icon .fab {
  color: var(--fb-blue);
}

.sidenav__item-circle {
  background: var(--fb-grey);
  border-radius: 50%;
}

.sidenav__item-circle > i {
  position: relative;
  top: -4px;
}

.feed {
  margin-left: 120px;
  width: 50%;
  /* height: 200px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stories {
  display: flex;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
}

.stories__video-container {
  overflow: hidden;
  width: 132px;
  height: 200px;
  border-radius: 5px;
  background: var(--stories-bg);
  position: relative;
  box-shadow: 0px 2px 4px 0px var(--fb-black);
  margin-right: 10px;
  cursor: pointer;
}

/* last element */
.stories__video-container:nth-last-child(1) {
  margin-right: 0px;
}

.stories__bg {
  /* if you don't put object feet it will not fit good */
  object-fit: cover;
  object-position: center;
  width: 132px;
  height: 200px;
  opacity: 0.4;
  transition: opacity.5s ease-in-out;
}

.stories__video-container:hover .stories__bg {
  opacity: 0.8;
}

.stories__title {
  position: absolute;
  bottom: 0;
  background: var(--fb-white);
  width: 100%;
  color: var(--fb-black);
  padding: 20px 20px 10px;
  font-size: 1rem;
}

.stories__title:hover {
  background: var(--fb-grey);
}

.stories__title-btn {
  background: var(--fb-blue);
  width: 40px;
  height: 40px;
  color: var(--fb-white);
  border-radius: 50%;
  border: 4px solid var(--fb-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  left: 40px;
}

.stories__notshowing {
  background-color: var(--fb-grey);
  box-shadow: none;
  position: relative;
  overflow: visible;
}

.stories__video-gray_circle {
  background-color: var(--hover-overlay);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.stories__video-arrow_circle {
  background-color: var(--fb-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(190, 190, 190);
  position: absolute;
  right: -20px;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.feed__box {
  padding: 20px;
  background: var(--fb-white);
  max-width: 700px;
  width: 100%;
  flex: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.newpost {
  display: flex;
  margin-bottom: 10px;
}

.newpost__user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.newpost input[type="text"] {
  background: var(--fb-bgcolor);
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 75vw;
  font-size: 1.2rem;
  padding-left: 20px;
}

.hline {
  height: 1px;
  background: var(--button-link);
  margin-bottom: 15px;
  display: block;
}

.post__types {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post_types__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* first target all items */
.post_types__item .fas,
.post_types__item .far {
  margin: 10px;
  font-size: 1.4rem;
  color: var(--light-color-text);
}

/* then target seperately */
.post_types__item .fa-video {
  color: var(--fb-red);
}
.post_types__item .fa-photo-video {
  color: var(--fb-green);
}
.post_types__item .fa-laugh-beam {
  color: var(--fb-yellow);
}

.photopost {
  padding: 0;
}

.photopost__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px;
}

.photopost__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photopost__left img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
}

.photopost__details {
  display: flex;
  /* it's div will be treated like a row */
  flex-direction: column;
  align-items: flex-start;
}

.photopost__date {
  font-size: 0.8rem;
  color: var(--light-color-text);
}

.photopost__name {
  font-size: 0.9rem;
  color: var(--light-color-text);
  margin-bottom: 5px;
  font-weight: 600;
}

.photopost__info .fa-ellipsis-h {
  color: var(--light-color-text);
}

.photopost__desc {
  padding: 0 20px;
  margin-bottom: 20px;
}

.photopost__image img {
  /* contain it withinh parents width */
  width: 100%;
}

.photopost {
  margin-bottom: 20px;
}

.photopost__stats {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-color-text);
  font-weight: 300;
  font-size: 0.9rem;
}

.photopost__stats-total {
  font-size: 1rem;
}

.photopost__stats-emojis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-circle {
  display: flex;
  width: 22px;
  height: 22px;
  background-color: #090900;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--fb-white);
  font-size: 0.8rem;
  cursor: pointer;
}

.emoji-circle-blue {
  background-color: var(--fb-blue);
}

.emoji-cricle-red {
  background-color: var(--fb-red);
}

.emoji-cricle-red i {
  position: relative;
  top: 2px;
}

.emoji-circle:nth-last-child(2) {
  margin-right: 5px;
}

.photopost__lowerpart {
  padding: 0 20px;
}

.photopost__comments {
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-color-text);
  font-weight: 500;
  font-size: 1rem;
}

.hline_post {
  height: 1px;
  background: var(--button-link);
  display: block;
}

.photopost__comments-icon {
  cursor: pointer;
}

.photopost__comments-icon i {
  font-weight: bolder;
  margin-right: 3px;
  font-size: 1.2rem;
  position: relative;
  top: 3px;
}

.online__users {
  position: absolute;
  right: 0;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.endnav__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 250px;
  height: 50;
  max-width: 700px;
  width: 100%;
}

.endnav__item-title {
  font-weight: 700;
  color: var(--light-color-text);
}

.hlinend {
  height: 0.4px;
  width: 100%;
  background: var(--fb-grey);
  margin-bottom: 15px;
}
.endnav__item-icons-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.endnav__item_text {
  font-weight: 700;
  color: var(--light-color-text);
}

.endnav__item_icons {
  display: flex;
  color: var(--light-color-text);
}

.endnav__item_icons i {
  cursor: pointer;
}

.endnav__item_icons .bi-three-dots {
  margin-right: 10px;
  font-size: 1.3rem;
}

.endnav__item-contact {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 330px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
  margin-bottom: -12px;
}

.endnav__item-contact:hover {
  background: var(--fb-grey);
}

.endnav__contact-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  /* position:absolute; */
  left: 1px;
}

.endnav__contact-text {
  color: var(--dark-color-text);
  font-weight: normal;
  margin-right: 20px;
}

.endnavimg-box {
  position: relative;
}

.green-circle {
  height: 13px;
  width: 13px;
  background-color: green;
  border: 2px solid var(--fb-white);
  border-radius: 50%;
  position: absolute;
  right: 9px;
  bottom: 3px;
}

@media screen and (min-width: 1301px) {
  .header__mobile-button {
    display: none;
  }
}
/* small laptops */
@media only screen and (max-width: 1300px) {
  .header__nav-section {
    display: none;
  }
  .header__user-img {
    display: none;
  }

  .feed {
    width: 100%;
  }

  .online__users {
    display: none;
  }
}

/* tablets */
@media only screen and (max-width: 900px) {
  .online__users {
    display: none;
  }

  .sidenav {
    display: none;
  }

  .feed {
    margin-left: 0;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .feed {
    display: block;
  }

  .header__mobile-button {
    display: flex;
  }

  .feed {
    display: block;
  }

  .stories {
    flex-wrap: nowrap;
    z-index: 9;
    padding-bottom: 20px;
    overflow-x: scroll;
  }

  .stories__video-container {
    flex: 1 0 auto;
  }

  .content-area-feed {
    width: 100%;
  }

  .header__account-section {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .post_types__item {
    /* make text disapear */
    color: transparent;
  }

  .photopost__comments-icon {
    color: transparent;
  }
}
